.text {


    padding: 2vh;
    transition: 0.5s;
    float: left;
    width: 10%;
    height:10%;
    
    

}


.textblock {

    width: auto;
    height: auto;
    padding: 6vh;
    font-size: 2rem;
    transition: 0.5s;
    float: left;
   
}

.textblock:hover {

    transform: scale(1.6);
}

.angelblock {

    width: 20%;
    float: left;
}

.video-back {
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;

}

.banner video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;

}

.banner h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 50px;
    text-align: center;
    line-height: 100vh;
    text-transform: uppercase;
    transition: 0.5s;

}

.banner h2:hover {
    transform: scale(2);
    text-decoration: none;


}

a {
    color: rgb(5, 5, 5);
}


.Character{
    font-weight:bold;
    font-size: 25px;
}

.Character1{
    font-weight:bold;
    font-size: 20px;
}

.Role{
    font-weight:bold;
    font-size: 18px;
}

.arms{
    font-weight:bold;
    font-size: 18px;
}



body {

    background-repeat: no-repeat;
    background-color: rgb(235, 226, 226);
    background-attachment: fixed;
    background-size: 100% 100%;

}



#header {

    width: auto;
    height: auto;
    top: 0;
    position:sticky;
    background-color: rgb(103, 126, 126);
    height: 15vh;
    width: auto;
    z-index: 999;

}

#content {
 background-color: beige;
 width: auto;
}

.container{
    position: relative;
  }

.container video{
    position: relative;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  h1 {
    text-align: center;
    font-size: 50px;
    line-height: 20vh;
}