.text {


        padding: 2vh;
        transition: 0.5s;
        float: left;
        width: 10%;
        height:10%;
        
        

}


.textblock {

        width: auto;
        height: auto;
        padding: 6vh;
        font-size: 2rem;
        transition: 0.5s;
        float: left;
       
}

.textblock:hover {

        transform: scale(1.6);
}

.angelblock {

        width: 20%;
        float: left;
}

.video-back {
        position: relative;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
}



* {
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;

}

.banner {
        width: 100%;
        height: 100vh;
        position: relative;
        justify-content: center;
        align-items: center;

}

.banner video {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;

}

.banner h2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 50px;
        text-align: center;
        line-height: 100vh;
        text-transform: uppercase;
        transition: 0.5s;

}

.banner h2:hover {
        transform: scale(2);
        text-decoration: none;


}

a {
        color: rgb(5, 5, 5);
}

body {

        background-repeat: no-repeat;
        background-color: rgb(235, 226, 226);
        background-attachment: fixed;
        background-size: 100% 100%;

}

.pageblock {

        width: 300px;
        height: 300px;
        margin: 0;

}

#header {

        width: auto;
        height: auto;
        top: 0;
        position:sticky;
        background-color: rgb(103, 126, 126);
        height: 15vh;
        width: auto;
        z-index: 999;

}

#content {
     background-color: beige;
     width: auto;
}

/*~~~~下面是我加的~~~~*/



.container {
        position: relative;
        width: 50%;
}
      
.duimage {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
}
      
.middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
}
      
.container:hover .duimage {
        opacity: 0.3;
}
      
.container:hover .middle {
        opacity: 1;
}
      
.dutext {
        background-color: #51a099;
        color: rgb(255, 255, 255);
        font-size: 16px;
        padding: 32px 64px;
}